<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212486364974-h2i21rr05h0lkj2i6lb25qa07249ocpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212486364974-h2i21rr05h0lkj2i6lb25qa07249ocpg</string>
	<key>API_KEY</key>
	<string>AIzaSyAw8gobXs-CUPtfuKCpksHxFOtqhj3KCT4</string>
	<key>GCM_SENDER_ID</key>
	<string>212486364974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>sohlearningdart</string>
	<key>STORAGE_BUCKET</key>
	<string>sohlearningdart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212486364974:ios:2724fc5179d6bfc9b724bf</string>
</dict>
</plist>